@font-face {
  font-family: "Gotham-Book";
  src: url("./fonts/Gotham-Book.otf") format("truetype");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("./fonts/Gotham-Medium.otf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham-Medium", sans-serif;
}

html {
  font-size: 62.5%;
}

.license-template-container {
  width: 612px;
  max-width: 612px;
  height: 987px;
  max-height: 987px;
  padding: 48px 72px;
  padding-right: 48px;
  background: #ffffff;
}

.license-template-title {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.006em;
  color: #2c2d2e;
}

.liquor-license-title {
  margin-top: 36px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.006em;
  color: #2c2d2e;
}

.liquor-license {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
}

.liquor-license__id {
  display: grid;
  grid-template-columns: 120px 120px;
  row-gap: 12px;
}

.liquor-license__id .license-number__value {
  text-align: center;
}

.license-number__label,
.license-data__label {
  font-family: "Gotham-Book", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #6d7074;
}

.license-number__value,
.license-data__value {
  font-family: "Gotham-Medium", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #2c2d2e;
}

.liquor-license-data {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.liquor-license-comments {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.liquor-license__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}
.liquor-license__column-minor-space {
  display: flex;
  flex-direction: column;
  column-gap: 12px;
}

.liquor-license-stamp-container {
  margin-top: 88px;
  margin-left: 8px;
  height: 120px;
  display: grid;
  grid-template-columns: 320px auto;
  align-items: center;
}

.license-stamp-signature {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  border-top: 1px solid #6d7074;
}
.license-stamp__label {
  font-family: "Gotham-Book", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #6d7074;
}
.license-stamp__value {
  font-family: "Gotham-Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #2c2d2e;
}

.liquor-license-seal {
  justify-self: right;
}
